RewriteEngine On
Options +FollowSymLinks
RewriteBase /

RewriteRule ^(.*)\.html$ $1.php
RewriteRule ^(.*)\.do$ $1.php

ErrorDocument 404 /
ErrorDocument 403 /

<Files "README.md">
Order Allow,Deny
Deny from all
</Files>
<Files "LICENSE">
Order Allow,Deny
Deny from all
</Files>
